<div>
    <nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <a class='navbar-brand'>{{pageTitle}}</a>
            <ul class='nav navbar-nav'>
                <li><a [routerLink]="['/users']">Users</a></li>
                <li><a [routerLink]="['/todos']">My Todos</a></li>
                <li><a href="javascript:void(0);" (click)="signout();">signout</a></li>
                

            </ul>
        </div>
    </nav>
    <div class='container'>
        <router-outlet></router-outlet>
    </div>
 </div>
