<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">Todo Manager</div>
      <div class="panel-body">
        <form #addTodoform ="ngForm" novalidate>
          <div class="form-group" [class.has-error]="(descriptionField.invalid && descriptionField.touched)&&
          (userField.invalid && userField.touched)">
            <label class="control-label">Description</label>
            <input name="description"  
            #descriptionField="ngModel"   
            [(ngModel)] = "description"   
            required type="text"
            class="form-control"
            placeholder="Enter description">
            <alert *ngIf='descriptionField.invalid && descriptionField.touched' (onClose)='descriptionField.reset()'  type="danger" [dismissible]="dismissible">Description is required.</alert>    
            <label class="control-label">User</label>
            <select name="user"
            #userField="ngModel"
            [(ngModel)] = "user" 
            required  class="form-control" >
              <option></option>
              <option *ngFor="let u of users" [ngValue]="u.id">{{u.name}}</option>
            </select>
            <alert *ngIf='userField.invalid && userField.touched' (onClose)='userField.reset()' type="danger" [dismissible]="dismissible">User is required.</alert>
          </div>
          <button type="submit" (click)="addTodo(addTodoform)" [disabled] = "(descriptionField.invalid || userField.invalid)" class="btn btn-primary">Submit</button>
        </form>    
      </div>
    </div>
  </div>
  <ng-template #popDeleteTodoConfirmationTemplate> 
      <span>Are you sure ?:</span>
      <button class="btn btn-primary" (click)="deleteTodo($event)">Yes</button>
      <button class="btn btn-primary" (click)="cancelDeleteTodo()">No</button>
  </ng-template>
  <ng-template #template> 
      <div class="modal-header">
        <h4 class="modal-title pull-left">Edit Todo</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form #updateNoteform ="ngForm" novalidate>
              <div class="form-group" [class.has-error]="(descriptionToUpdateField.invalid && descriptionToUpdateField.touched) || 
              (userToUpdateField.invalid && userToUpdateField.touched)">
                <label class="control-label">Name</label>
                <input name="descriptionToUpdate"        
                #descriptionToUpdateField="ngModel"
                [(ngModel)] = "currentTodoToUpdate.description"
                required type="text"                
                class="form-control"
                placeholder="Enter description">        
                <alert *ngIf='descriptionToUpdateField.invalid && descriptionToUpdateField.touched' (onClose)='descriptionToUpdateField.reset()' 
                 type="danger" [dismissible]="dismissible">Description is required.</alert>
                 <label class="control-label">User</label>
                 <select name="userToUpdate"
                 #userToUpdateField="ngModel"
                 [(ngModel)] = "currentTodoToUpdate.userId"
                 required  class="form-control" >                 
                   <option *ngFor="let u of users" [ngValue]="u.id">{{u.name}}</option>
                 </select>
                 <alert *ngIf='userToUpdateField.invalid && userToUpdateField.touched' (onClose)='userToUpdateField.reset()' type="danger" [dismissible]="dismissible">User is required.</alert>
                 <label class="control-label">Status</label>
                 <select name="statusToUpdate"
                 #statsToUpdateField="ngModel"
                 [(ngModel)] = "currentTodoToUpdate.status"
                 required  class="form-control" >                 
                   <option [ngValue]="0">Open</option>
                   <option [ngValue]="1">Completed</option>
                 </select>                 
              </div>
              <button type="submit" (click)="updateTodo()" [disabled] = "userToUpdateField.invalid || descriptionToUpdateField.invalid" class="btn btn-primary">Update</button>
            </form>            
      </div>
    </ng-template>     
  <div class="row">
      <table class = 'table table-striped'>
          <thead>
            <tr>
              <th style="width:50%">Description</th>
              <th style="width:10%">Status</th>
              <th style="width:30%">User</th>
              <th style="width:20%">Actions</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let todo of todos">
                  <td>{{todo.description}}</td>
                  <td>{{todo.statusName}}</td>
                  <td>{{todo.user.name}}</td>
                  <td>
                    <button  class="btn" (click)= 'setTodoIdToDelete(todo,pop)'
                    #pop="bs-popover"
                    [popover]="popDeleteTodoConfirmationTemplate" 
                    [outsideClick]="true"
                    popoverTitle="Confirmation">
                      <i class="fa fa-trash-o"></i>
                    </button>
                    <button (click)="openModal(todo,template)" class="btn"><i class="fa fa-pencil"></i></button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
  <div class="row">
    <div class="col-xs-12 col-12">
      <pagination [totalItems]="totalItems"  (pageChanged)="pageChanged($event)"></pagination>
    </div>
  </div>
</div>