<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">User Manager</div>
      <div class="panel-body">
        <form #addUserform ="ngForm" novalidate>
          <div class="form-group" [class.has-error]="userName.invalid && userName.touched">
            <label class="control-label">Name</label>
            <input name="userName"        
            #userName="ngModel"
            required type="text"
            [(ngModel)] = "model.name"
            class="form-control"
            placeholder="Enter name">        
            <div *ngIf='userName.invalid && userName.touched' class="alert alert-danger alert-dismissable">
              <a href="#" class="close" data-dismiss="alert" (click)='closeError(addUserform)' aria-label="close">×</a>
              User Name is required.
            </div>
          </div>
          <button type="submit" (click)="addUser(addUserform)" [disabled] = "userName.invalid" class="btn btn-primary">Submit</button>
        </form>    
      </div>
    </div>
  </div>
  <ng-template #popDeleteUserConfirmationTemplate> 
      <span>Are you sure ?:</span>
      <button class="btn btn-primary" (click)="deleteUser($event)">Yes</button>
      <button class="btn btn-primary" (click)="cancelDeleteUser()">No</button>
  </ng-template>
  <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Edit User</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form #updateUserform ="ngForm" novalidate>
              <div class="form-group" [class.has-error]="userNameToUpdate.invalid && userNameToUpdate.touched">
                <label class="control-label">Name</label>
                <input name="userNameToUpdate"        
                #userNameToUpdate="ngModel"
                required type="text"
                [ngModel] = "currentUserToUpdate.name"
                class="form-control"
                placeholder="Enter name">        
                <div *ngIf='userNameToUpdate.invalid && userNameToUpdate.touched' class="alert alert-danger">
                  User Name is required.
                </div>
              </div>
              <button type="submit" (click)="updateUser(updateUserform)" [disabled] = "userNameToUpdate.invalid" class="btn btn-primary">Update</button>
            </form> 
      </div>
    </ng-template>
  <div class="row">
      <table class = 'table table-striped'>
          <thead>
            <tr>
              <th style="width:90%">Name</th>
              <th style="width:10%">Actions</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let user of users">
                  <td>{{user.name}}</td>
                  <td>
                    <button  class="btn" (click)= 'setUserIdToDelete(user,pop)'
                    #pop="bs-popover"
                    [popover]="popDeleteUserConfirmationTemplate" 
                    [outsideClick]="true"
                    popoverTitle="Confirmation">
                      <i class="fa fa-trash-o"></i>
                    </button>
                    <button (click)="openModal(user,template)"  class="btn"><i class="fa fa-pencil"></i></button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
  <div class="row">
    <div class="col-xs-12 col-12">
      <pagination [totalItems]="totalItems"  (pageChanged)="pageChanged($event)"></pagination>
    </div>
  </div>
</div>